html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#map {
    position:fixed;
    top:0;
    bottom:0;
    width:100%;
    z-index:-1;
}

#titolo{
  position:relative;
}

hr{
  opacity:0;
  position:relative;
  padding:0px;
  margin:0px;
  /* margin-bottom:10px; */
}

/* tutorial */
.popover{
border-radius: .1rem;
}
.popover-body{
  font-family: 'Roboto', sans-serif;
background-color: white;
font-size: 15px;
}
.popover-header{
  font-family: 'Roboto', sans-serif;
background-color: white;
font-size: 15px;

}

.tutorial{
  display: none;
  width: 50%;
  height: 50%;
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tutorial h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 20px;
  align-content: center;
}

.testo-intro{
  font-family: 'PT Serif', serif;
  padding: 20px;
}

.testo-intro a{
  color:#212529;
  text-decoration:underline;"
}

.testo-intro a:hover{
  text-decoration:none;
}

.step{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #383838;
  font-size : 20px;
  position: fixed;
  bottom: 0%;
  right: 0%;
  padding: 15px;
  padding-right: 25px;
  cursor: pointer;
}

.skip{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #383838;
  font-size : 20px;
  position: fixed;
  bottom: 0%;
  left: 0%;
  padding: 15px;
  padding-left: 25px;
  cursor: pointer;
}

.step:hover, .skip:hover{
  color: grey;
}


.slide-over .slideover-content {
  /* display: block; */
  width: 60%;
  height: 100%;
  overflow: : scroll;
  /* -webkit-overflow-scrolling: touch; */
  padding: 2em 1em 0;
}

/* SIDE NAV*/


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #F9F9F9; /* Black*/
    overflow-y:scroll;
 /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
}


.sidenav{
  -webkit-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.2);
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav a {
  text-decoration: underline;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    html,body{overflow-x: hidden;}
    .
}

/* TASTO APERTURA SIDENAV */





#apri{
  height:70px;
  width:70px;
  background-color: lightgrey;
  position:absolute;
  left:0px;
  transition: 0.4s;
  transition-timing-function: ease;
  z-index: 1000;
  cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);

}

#apriTex{
  height:70px;
  width: 500px;
  position:absolute;
  left:70px;
  padding:15px;
  /* padding-left:20px; */
  /* color:#585858; */
  color:#202020;
  font-weight: 700;
  font-size: 22px;
}

.icona{
  font-size:30px;
  line-height: 0px;
  display:flex;
  color:#585858;
  position:absolute;
  z-index: 1000;
  padding-bottom:3px;
  left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);

}

.attivo{
  transition: transform .3s ease;
  transform:rotate(-180deg);
  duration:0.4s;
  fill:grey;

}

.st0{fill:#585858; stroke:#585858; stroke-width:1;}



@media only screen and (max-width: 600px) {
  .attivo{display:none;}
  .icona {display:none;}
   #apri{display:none;}
   #openLegend{display: none;}
   #openInfo{display: none;}
   #legend{display: none;}

}



/* DROPDOWN MENU */

.nav-tabs .dropdown-menu {
    margin-top:1px;
    padding-bottom:0px;
    padding-top:0px;
}


#ring-size-tabs{
 border: 0;
 border-bottom: 1px solid #d3d3d3;
 width:0;
 left:-130px;
 position:fixed;
 background-color:#F9F9F9;
 z-index:2;
 transition: 0.4s;
 transition-timing-function: ease;

}

.ring-list-drop{
    border: none;
    width: 500px;
}

    #ringTabDrop{
      display: block;
      cursor: pointer;
      color:black;
      text-decoration: none;
      padding: 6px 8px 8px 25px;

  }


  #ring_contents{
      width: 100%;
      max-width: 100%;
      color:black;
      border: none;
      background: #fff;
  }

   .dropdown-toggle{
     padding: 4px 8px 8px 32px;
     border: 0;
     font-size:15px;
     line-height: 40px;

   }

    .dropdown-menu a{
     font-size:15px;
     line-height: 40px;
     border-bottom: 1px solid #d3d3d3;
   }

   .dropdown-menu a:hover{
    color:grey;
  }


  .nav a {
      font-family: 'Roboto', sans-serif;
      padding: 6px 8px 8px 32px;
      text-decoration: none;
      color: black;
      display: block;
      transition: 0.5s;
  }

.nav a:hover {
  background-color: #E8E8E8;
  color: #404040;
}



/* STILE TESTI  */

.par{
  margin-bottom:15px;
}

/* FEATURES */


#features {
  /* width:50% */
}

section {
  font-family: 'PT Serif', serif;
    padding:  50px 15px;
    padding-left: 25px;
    line-height: 25px;
    width:500px;
    padding-right: 35px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 15px;
    overflow-x: hidden;
}

#container{
  width:460px;
  margin-top:20px;
}

.primaSezione{
  background-color:	#F0F0F0	;
}
.primaSezione section.active {
    background-color:	#F0F0F0	;
}

section.active {
    opacity: 1;
}

section h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size:18px;
  margin-bottom: 15px;
}

section h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size:16px;
  margin-bottom: 10px;
}


section img{
  width:80%;
  height: 200px;
object-fit: cover;
  max-width:500px;
  margin-top: 40px;
  padding:0px;
  padding-right: 10px;
 border-right-style:solid;
 border-width: 1px;
 border-color: rgb(221, 221, 221);
}

/* DIDASCALIE SEZIONI */


.didaImg{
  display: flex;
}


.dida{
  padding-left: 10px;
  margin-top:40px;
  width:auto;
}


.dida p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  width:400px;
  color:#404040;
}

.dida a{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
  width:400px;
  color:#404040;
}


/* Pop-up */

.mapboxgl-popup {
  width: 280px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 25px;
}

.mapboxgl-popup-content {
    position: relative;
    background: #F9F9F9;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #979797;
    box-shadow: none;
    padding: 10px 10px 15px;
    pointer-events: auto;
}

.mapboxgl-popup ul {
 padding:5px;
 margin:0px;
 margin-top:10px;
}

.mapboxgl-popup li {
  list-style-type: none;
}

.mapboxgl-popup a{
  text-decoration: none;
  color:#547493;
}

.mapboxgl-popup a:hover{
  transition: .3s;
  color:#0C3966;
}

.mapboxgl-popup-close-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
    z-index:2;

}



::-webkit-scrollbar {
    width: 3px;
    height: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}




/* legenda */

#openInfo{
  position: absolute;
  left: 10px;
  bottom: 40px;
  cursor:pointer;
}

#openLegend{
  position: absolute;
  right: 10px;
  bottom: 40px;
}


#legend {
       background: #F9F9F9;
       position: absolute;
       z-index: 1;
       bottom: 200px;
       right: -250px;
       border-radius: 3px;
       width: 250px;
       max-height: 300px;
       overflow-y: scroll;
       border: 1px solid rgba(0,0,0,0.2);
       font-family: 'Roboto', sans-serif;
       transition-duration: .4s;
   }

#legend ul{
padding:0;
list-style-type: none;
}

.titolo-lista{
  font-size: 14px;
  font-weight: 500;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  text-align: center;
}


   #legend a {
       font-size: 14px;
       line-height: 18px;
       color: #404040;
       display: block;
       margin: 0;
       padding: 0;
       padding: 15px;
       padding-right: 20px;
       text-decoration: none;
       border-bottom: 1px solid rgba(0,0,0,0.1);
       text-align: right;
       vertical-align: baseline;
   }


   #legend li:last-child {
       border: none;
   }

   #legend a:hover {
       background-color: #E8E8E8;
       color: #404040;
   }

   #legend a.active {
       background-color: #D8D8D8;
       color: #303030;
   }

   #legend a.active:hover {
       background: #D8D8D8;
   }


#legend span{
  width:11px;
  height:11px;
  display:inline-block;
  float:left;
  border-radius: 50%;
}


#legend .base :hover{
  background: #F9F9F9;
  cursor:default;

}


.filter-ctrl {

        padding:5px;
        margin:auto;
        margin-bottom:13px;
        z-index: 1;
        width: 100%;
    }

    .filter-ctrl input[type=text] {
        font: 13px 'Roboto', Arial, Helvetica, sans-serif;
        border: 1px solid black;
        width: 100%;
        border: 0;
        background-color: #fff;
        height: 40px;
        margin: 0;
        padding: 10px;
        outline: none;
    }



/* icona e animazione */


.legenda-icon{
  fill:#383838;
  cursor: pointer;

}

.legenda-icon:hover{
}


.liv1{
  fill:#BEBEBE;
  stroke:#585858;
  stroke-width:2;
  transition-duration: .1s;
  transition-timing-function: ease-out;
}

.liv2{
  fill:#BEBEBE;
  stroke:#585858;
  stroke-width:2;
}

/* #404040 */

.liv3{
  fill:#BEBEBE;
  stroke:#585858;
  stroke-width:2;
  transition-duration: .1s;
  transition-timing-function: ease-out;

}

.liv1a{
  transform: translate(0,3px);
  transition-duration: .1s;
  transition-timing-function: ease-out;
}

.liv3a{
  transform: translate(0,-3px);
  transition-duration: .1s;
  transition-timing-function: ease-out;
}




/* LEGENDA POLLINI */

.session {
  margin-top: 20px;
}

#slider{
  display: block;
  width:100%;
padding:2px;}

.colors {

}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #686868;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #686868;
  cursor: pointer;
}

.legendaSlider{
  font-family: 'Roboto', sans-serif;
  padding:0px;
  padding-top: 30px;
}

.legendaSlider p{
  padding:0px;
  display: contents;
  vertical-align: middle;
}


.pSpan{
  display: inline-block;
  margin-left: 3px;
  margin-right: 10px;
  width:10px;
  height:10px;
  -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;

}




/*AUTOCOMPLETE FORM  */
/* #barra{
  -webkit-overflow-scrolling: touch;
} */

.autocomplete {
  position: relative;
  float:right;
  display: inline-block;
  margin:10px 10px 10px 0px;
}
.autocomplete{
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);
}
.search{
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  float:right;
  padding: 10px;
  font-size: 14px;
}
input[type=text] {
  background-color: #f1f1f1;
  width:100%;
}
input[type=text]:focus {
    outline: none;}


.search {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  float:right;
  padding: 10px;
  font-size: 14px;
}

.search[type=button] {
  background-color: darkgrey;
  color: #fff;
  margin:10px 0px 10px 0px;
  float:right;
}

#myButtonDelete{
  background-color: #686868		;
  display:none;
}#myButtonDelete img{
  width:20px;
}

.autocomplete-items {
  overflow-y: scroll;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  max-height: 300px;
  font-size: 14px;
  z-index: 999;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#legendaSearch{
  background: #F9F9F9;
  position: absolute;
  display: none;
  z-index: 1;
  bottom: 40px;
  left: 10px;
  border-radius: 3px;
  width: 280px;
  /* padding-top:10px; */
  margin: 0;
  border: 1px solid rgba(0,0,0,0.2);
  font-family: 'Roboto', sans-serif;
  transition-duration: .4s;
}


#legendaSearch span{
  width:11px;
  height:11px;
  display:inline-block;
  float:left;
  border-radius: 50%;
}

#legendaSearch ul{
padding:0px;
list-style-type: none;
}

#legendaSearch li {
    font-size: 13px;
    line-height: 14px;
    color: #404040;
    display: block;
    margin: 0px;
    padding: 0px;
    padding: 12px;
    padding-right: 20px;
    text-decoration: none;
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
    text-align: right;
}
