#map {
    position:fixed;
    top:0;
    bottom:0;
    width:100%;
    z-index:-1;
}



#titolo{
  position:relative;
}





.slide-over .slideover-content {
  display: block;
  width: 60%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 2em 1em 0;
}

/* SIDE NAV*/


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #F9F9F9; /* Black*/
    overflow-y:scroll;
 /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}



.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* TASTO APERTURA SIDENAV */

#apri{
  height:56px;
  width:56px;
  background-color: lightgrey;
  position:absolute;
  left:0px;
  transition: 0.5s;
  z-index: 1000;
 display: flex;
  align-items: center;
  justify-content: center;
}


.icona{
  font-size:30px;
  line-height: 0px;
  display:flex;
  color:black;
  position:absolute;
  transition: 0.5s;
  z-index: 1000;
  text-align: center;
  vertical-align: text-top;
  padding-bottom:3px;

}




/* DROPDOWN MENU */

.nav-tabs .dropdown-menu {
    margin-top:1px;

}


#ring-size-tabs{
 border: 0;
 border-bottom: 1px solid #d3d3d3;

}

.ring-list-drop{
    border: none;
    width: 510px;
}

    #ringTabDrop{
      display: block;
      cursor: pointer;
      color:black;
      text-decoration: none;
      /* position: fixed; */
  }


  #ring_contents{
      width: 100%;
      max-width: 100%;
      color:black;
      border: none;
      background: #fff;
  }

   .dropdown-toggle{
     padding: 4px 8px 8px 32px;
     border: 0;
     font-size:15px;
     line-height: 40px;

   }

    .dropdown-menu a{
     font-size:15px;
     line-height: 40px;
     border-bottom: 1px solid #d3d3d3;
   }

   .dropdown-menu a:hover{
    color:lightgrey;

  }

  .nav a {
    font-family: 'Roboto', sans-serif;

      padding: 6px 8px 8px 32px;
      text-decoration: none;
      /* font-size: 25px; */
      color: black;
      display: block;
      transition: 0.3s;
  }






/* STILE TESTI  */

/* .testi{
   width:370px;
   color:black;
   padding:10px;
   /* text-align: justify; */
} */


.par{
  margin-bottom:15px;
}

/* FEATURES */


#features {
  /* width:50% */
}

section {
  font-family: 'PT Serif', serif;
    padding:  50px 15px;
    padding-left: 25px;
    line-height: 25px;
    width:480px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 15px;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}

section h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size:15px;
  margin-bottom: 10px;
}
