#map {
    position:fixed;
    top:0;
    bottom:0;
    width:100%;
    z-index:-1;
}



#titolo{
  position:relative;
}

 .testi p{
     width:370px;
     color:black;
     padding:10px;
     /* text-align: justify; */
 }



.slide-over .slideover-content {
  display: block;
  width: 60%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 2em 1em 0;
}

/* SIDE NAV*/


.sidenav {

    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* font-size: 25px; */
    color: black;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



#apri{
  height:56px;
  width:56px;
  background-color: lightgrey;
  position:absolute;
  left:0px;
  transition: 0.5s;
  z-index: 1000;
 display: flex;
  align-items: center;
  justify-content: center;
}


.icona{
  font-size:50px;
  line-height: 0px;
  display:flex;
  color:black;
  position:absolute;
  transition: 0.5s;
  z-index: 1000;
  text-align: center;
  vertical-align: text-top;
  padding-bottom:3px;

}




.nav-tabs .dropdown-menu {
    margin-top:1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



#ring-size-tabs{
 border: 0;
 border-bottom: 1px solid #d3d3d3;

}

.ring-list-drop{
    border: none;
    padding: 3px 5px;
    max-width: 100%;
    width: 400px;
}

    #ringTabDrop{
      display: block;
      cursor: pointer;
      color:black;
      text-decoration: none;
      padding: 8px 8px 8px 32px;

  }

  .caret{
    float:right;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
    position: absolute;
  }


  #ring_contents{
      width: 100%;
      max-width: 100%;
      color:black;
      border: none;
      background: #fff;
  }

   .dropdown-toggle{
     border: 0;
     font-size:18px;
     line-height: 40px;

   }

    .dropdown-menu a{
     font-size:18px;
     line-height: 40px;
     border-bottom: 1px solid #d3d3d3;
   }

   .dropdown-menu a:hover{
    color:lightgrey;

  }


   .dropdown-menu {
  padding:0;
   }



.include{
  display:none;
}

.active{
  display:contents;
}


#prova2{
  display: none;
}
